Source: libsodium
Priority: extra
Maintainer: loadletter <loadletter@users.noreply.github.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, mime-support, libc6, cpio, mawk
Standards-Version: 3.9.3
Section: libs
Homepage: https://github.com/jedisct1/libsodium
#Vcs-Git: git://git.debian.org/collab-maint/libsodium.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libsodium.git;a=summary

Package: libsodium-dev
Section: libdevel
Architecture: any
Depends: libsodium1 (= ${binary:Version})
Description: Crypto library based on NaCl
 NaCl (pronounced "salt") is a new easy-to-use high-speed software library for network communication, encryption, decryption, signatures, etc.
 NaCl's goal is to provide all of the core operations needed to build higher-level cryptographic tools.
 Sodium is a portable, cross-compilable, installable, packageable fork of NaCl, with a compatible API.

Package: libsodium1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Crypto library based on NaCl
 NaCl (pronounced "salt") is a new easy-to-use high-speed software library for network communication, encryption, decryption, signatures, etc.
 NaCl's goal is to provide all of the core operations needed to build higher-level cryptographic tools.
 Sodium is a portable, cross-compilable, installable, packageable fork of NaCl, with a compatible API.
